<!-- <div>


    <mat-icon > <img class="hospitalicon" src="../assets/hospitalicon3.jpg">HMS</mat-icon>

   

<p class="contact" >EMERGENCY NO : +91-20-30717500-3     AMBULANCE NO: +91-20-40707777 / 30717777</p> -->

<!-- 
<div class="container">
  <div class="row" style="background-color: blueviolet;">
    <div class="col-sm">
      <mat-icon > <img class="hospitalicon" src="../assets/hospitalicon3.jpg">HMS</mat-icon>
    </div>
    <div class="col-sm">
      <span class="contact" >EMERGENCY NO : +91-20-30717500-3     AMBULANCE NO: +91-20-40707777 / 30717777</span>
    </div>
    <div class="col-sm">
      <a mat-raised-button  class="book" href="https://www.jupiterhospital.com/book-an-appointment.php" target="" style="color:white;">Book Your Appointment</a>
    </div>
  </div>
</div> -->

<!-- 
<div class="container">
 
  <div class="row" style="background-color: brown;">
    <div class="col col-4">
      <mat-icon > <img class="hospitalicon" src="../assets/hospitalicon3.jpg">HMS</mat-icon>
    </div>
    <div class="col col-4">
      <span class="contact" >EMERGENCY NO : +91-20-30717500-3     AMBULANCE NO: +91-20-40707777 / 30717777</span>
    </div>
    <div class="col col-4">
      <a mat-raised-button  class="book" href="https://www.jupiterhospital.com/book-an-appointment.php" target="" style="color:white;">Book Your Appointment</a>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="../assets/hospitalicon3.jpg" width="50" height="50" alt=""><b style="color: black;">Hospital Management System</b>
  </a>

  <p style="font-size: large; color: red; "><b><u>EMERGENCY NO :</u></b> +91-20-30717500-3   <span> <b>&nbsp;&nbsp;&nbsp;<u> AMBULANCE NO:</u> </b> +91-20-40707777 </span></p>
  <a mat-raised-button  class="book" 
  routerLink="login"
   target="" style="color:black;">Book Your Appointment</a>
</nav>


<!-- <div class="row">
  <div class="col-6 col-md-4">  <mat-icon > <img class="hospitalicon" src="../assets/hospitalicon3.jpg">HMS</mat-icon></div>
  <div class="col-6 col-md-4" style=" font-size: large; color:red0"> EMERGENCY NO : +91-20-30717500-3   </div>
  <div class="col-6 col-md-4" style="text-align: right;"> <a mat-raised-button  class="book" href="https://www.jupiterhospital.com/book-an-appointment.php" target="" style="color:white;">Book Your Appointment</a></div>
</div> -->

<!-- <a href="tel:+91-2027992799" target="" 
 style="display: inline-block;line-height: 17px;padding: 1px 15px 0px 15px;font-size: 13px;
 margin-bottom: 10px;"> 
    <img src="../assets/teleicon.svg" style="width: 17px;vertical-align: middle;">  +91 20 2799 2799
      <span style="display: block;text-align: left; border-bottom:1px solid #f07c00;margin-bottom: 5px;padding-bottom: 3px;"> 
        <img src="https://www.jupiterhospital.com/images/location.png"
         style="vertical-align: middle; width:15px; margin-right:10px; display:none;">
          Pune:</span></a>

          <a class="a" href="tel:022 2172 5555" target="" 
          style="display: inline-block;line-height: 17px;padding: 1px 15px 0px 15px;
          font-size: 13px;margin-top: 12px;">
          <span style="display: block;text-align: left; border-bottom:1px solid #f07c00;margin-bottom: 5px;padding-bottom: 3px;"> 
            <img src="https://www.jupiterhospital.com/images/location.png" 
            style="vertical-align: middle; width:15px; margin-right:10px; display:none;"> Thane:</span> 
            <img src="../assets/teleicon.svg" 
            style="width: 17px;vertical-align: middle;">  +91 22 2172 5555  </a> -->


            

            <!-- <a mat-raised-button  class="book" href="https://www.jupiterhospital.com/book-an-appointment.php" target="" style="color:white;">Book Your Appointment</a>
     
          </div> -->