<!-- <div class="container"> -->
<!-- <div class="row">
      <div class="col">
    
      </div>
      <div class="col-6">
      <img src="../assets/pics1.jpg">
      </div>
      <div class="col">
       
      </div>
    </div> -->


<!-- <div class="row">
      <div class="col-6">
          <br>
        <img src="../assets/pic21.jpeg" style="margin-right: 30px;">
        <br><br>
      </div>
      <div class="col-5">
          <br>
       <h1 style="text-align: center;">About Us</h1>
      <h3> The hospital is committed to maintain the highest standard of care and 
       respond to the needs of the community in a compassionate manner.To provide
        state-of-the-art, high quality and cost-effective healthcare services and 
        latest information to improve and maintain health for the well-being of the
         community.To unrelentingly pursue the creation of value for our customers,
          shareholders, employees and society at large.To foster a therapeutic relationship
           based on compassion that is felt, quality that is measurable and cost that is
            affordable.
       To become partners in health promotion with every section of society.
       The hospital is committed to maintain the highest standard of care and 
       respond to the needs of the community in a compassionate manner.To provide
        
        </h3>
      </div> -->
<!-- <div class="col">
          <br>
        <img src="../assets/pic3.jpg" style="">
      </div> -->
<!-- </div>
  </div> -->
  <app-uppernavbar></app-uppernavbar>
  <app-navigationbar></app-navigationbar>
<br>
<br>
<div class="body">
    <div class="row" style="background-color: burlywood;border-radius: 50px;margin-left: 8px;margin-right: 8px;">
        <div class="col">
            <br>
            <br>
            <br>

            <h1 style="text-align: center;color: brown; font-size: 80px;"><b><u>About-Us</u></b></h1>
            <br>
            <br>

            <br>

        </div>

    </div>
    <!-- </div> -->

    <br>
    <br>

    <!-- <div class="body"> -->


    <div class="row" style="background-color: burlywood;border-radius: 50px;  margin-left: 8px;margin-right: 8px;">
        <div class="col-3">
            <br><br>
            <img src="../assets/pic21.jpeg" style="margin-left: 40px; border-radius: 50px;width: 300px;height: 300px;">

        </div>

        <div class="col  col-5">
            <br>
            <br>
            <!-- <b>About US</b> -->

            The hospital is committed to maintain the highest standard of care and
            respond to the needs of the community in a compassionate manner.To provide
            state-of-the-art, high quality and cost-effective healthcare services and
            latest information to improve and maintain health for the well-being of the
            community.To unrelentingly pursue the creation of value for our customers,
            shareholders, employees and society at large.To foster a therapeutic relationship
            based on compassion that is felt, quality that is measurable and cost that is
            affordable.
            The hospital is committed to maintain the highest standard of care and
            respond to the needs of the community in a compassionate manner.To provide
            state-of-the-art, high quality and cost-effective healthcare services and
          
            To become partners in health promotion with every section of society.
            <br>
            <br>

        </div>

        <div class="col  col-3" style="margin-right: 100px;">
            <br>
            <br>
            <img src="../assets/pic22.jpeg" style="margin-left: 80px;  border-radius:50px;width: 300px;height: 300px;">
            <br>
            <br>
            <br>

        </div>

    </div>

    <br><br>

</div>

<app-upperfooter></app-upperfooter> 
<app-homefooter></app-homefooter>  