<div class="updates">
    <div class="container">
        <br>
        <br>
        <div class="row1">
<mat-icon > <img class="flag" src="../assets/flag-24px.svg"></mat-icon><span class="latest"><u><b>Latest Updates</b></u></span>
<br><br>

 <ul >

                        
              
              
                <li><a href="#">Full body checkup at Rs 9999/.</a> </li>
              <br>
                <li><a href="#">Invest in our new HEALTH PLAN</a></li>
              <br>
                <li><a href="#">Corona Care Package</a></li>
              <br>
                <li><a href="#">Register for Corona Vaccination</a> </li>
              <br>
                 <li><a href="#">Blood Donation Camp</a></li>

               <!-- <li> </li>
              
                <li></li>
              
                <li></li> -->
              
              
                <br>          
                                 
               </ul> 
        </div>
        <br>
        <br>

               <div class="row2">
                <mat-icon > <img class="flag" src="../assets/noti.svg"></mat-icon><span class="latest"><u><b>Notifications</b></u></span>
                <br><br>
                <!-- <marquee>Full body checkup at Rs9999/.</marquee> -->
                 <ul >
                
                                        
                              
                              
                              
                              
                                <li>Protect yourself from new covid strain</li>
                              <br>
                                <li>Free Eye Checkup on 26th Jan,2021</li>
                              <br>
                                <li>Medical Seminar Organized on next month</li>
                                <br>
                                <li>Medical camp for poor people</li>
                                <br>
                                <li>Tree plantation on account of Republic Day</li>
                              
                                <!-- <li></li>
                              
                                <li></li>
                              
                                <li></li> -->
                               <br>
                                             
                                                 
                               </ul> 
               </div>
            </div>
              
            </div>