<div class="side-bar">

    <!-- <a href="#" class="user-img"> -->
    <div>
        <img src="../../../assets/icons/user-male.png" alt="">

        <h2>{{name}}</h2>
    </div>

<div class="menu">
    <a routerLink="/patient-home">
        <li>

            
            <!-- <img class="icons" src="../../../assets/icons/home.svg" alt=""> -->
            Home
        </li>
    </a>

    <a routerLink="/patient-home/booking" routerLinkActive="act">
        <li>
            Booking
        </li>
    </a>

    <a routerLink="/patient-home/appointments" routerLinkActive="act">
        <li>
            Appointments
        </li>
    </a>

    <a routerLink="/patient-home/reports" routerLinkActive="act"> 
        <li>
            Reports
        </li>
    </a>

    <a routerLink="/patient-home/prescriptions" routerLinkActive="act">
        <li>
            Prescriptions
        </li>
    </a>

</div>
</div>