<!-- <app-uppernavbar></app-uppernavbar> -->
<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-1"></div>
    <div class="home-card col-md-2">
        <a routerLink="booking">
            <figure class="figure1">
                <!-- <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div> -->
                <figcaption>
                    <h4> <span>Book your appoinment</span></h4>
                    <p>Meet our higly qualified and experienced doctors by booking an appointment online</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class=" home-card col-md-2">
        <a routerLink="appointments">
            <figure class="figure2">
                <!-- <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div> -->
                <figcaption>
                    <h4> <span>Appointment History</span></h4>
                    <p>Gives you a detailed history of appointments with all our doctors.</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class=" home-card col-md-2">
        <a routerLink="reports">
            <figure class="figure3">
                <!-- <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div> -->
                <figcaption>
                    <h4> <span>Medical Reports</span></h4>
                    <p>No need to worry about losing your reports. We store it for as long as you want it.</p>
                </figcaption>
            </figure>
        </a>
    </div>

</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="home-card col-md-2">
        <a routerLink="prescriptions">
            <figure class="figure4">
                <!-- <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div> -->
                <figcaption>
                    <h4> <span>Prescriptions</span></h4>
                    <p>Get all your previous prescriptions</p>
                </figcaption>
            </figure>
        </a>
    </div>
<div class="col-1"></div>
    <div class="home-card col-md-2">
        <a href="#">
            <figure class="figure5">
                <!-- <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div> -->
                <figcaption>
                    <h4> <span>Rate Us</span></h4>
                    <p>Like our services? Rate us on Google</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <!-- <div class=" home-card col-md-2">
        <a href="#">
            <figure class="figure5">
                <figcaption>
                    <h4> <span>Appointment History</span></h4>
                    <p>Gives you a detailed history of appointments with all our doctors.</p>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class=" home-card col-md-2">
        <a href="#">
            <figure class="figure6">
                <figcaption>
                    <h4> <span>Medical Reports</span></h4>
                    <p>No need to worry about losing your reports. We store it for as long as you want it.</p>
                </figcaption>
            </figure>
        </a>
    </div> -->

</div>

<app-homefooter></app-homefooter>